
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Yönetim Paneli</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
        <h3 class="w3-bar-item" style="background-color:gainsboro;margin-top:0;">Panel</h3>
        <a href="~/Admin/Index" class="w3-bar-item w3-button">Anasayfa</a>
        <a href="" class="w3-bar-item w3-button">Post paylaş</a>
        <a href="~/AnaSayfa/Index" target="_blank" class="w3-bar-item w3-button">Siteye Git</a>
        <a href="/AdminLogin/Cikis" class="w3-bar-item w3-button btn-danger">Çıkış</a>
    </div>


    <div style="margin-left:25%">

        <div class="w3-container w3-teal">
            <h1 style=" font-size:34px;">Blog Post</h1>
        </div>

        <div class="w3-container">
            @RenderBody()
        </div>

    </div>

    <div>
        
    </div>
</body>
</html>
